body {
    margin: 0 10%;
    background: repeating-linear-gradient(
        45deg,
        #7fffd4,
        #7fffd4 20px,
        #c5ffec 20px,
        #c5ffec 40px
        );
    background-color: #7fffd4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body-grid {
    text-align: center;
    margin: 20%;
    font-size: 50px;
    
}
ul {
    border: 10px solid #d63573;
    border-radius: 10%;
    padding: 50px;
    background-color: rgb(240, 128, 152);
}
a {
   color: #770045;
   text-decoration: none;
}